.tiles-container .tile-image {
  .placeholder-image {
    display: block;
    text-align: center;
    padding: 15px;
    .font-size(2);
    background-color: @colorIBGrey;
    height: 100%;
    position: relative;
    &:before {
      position: absolute;
      top: 50%;
      left: 50%;
      //noinspection LessUnresolvedMixin
      .lh-translate(-50%, -50%);
    }
  }
}
