@zindex-colorpicker:             1000;
@colorpicker-width-base:         180px;
@colorpicker-bg:                 #fff;
@colorpicker-fallback-border:    #ccc;
@colorpicker-border:             rgba(0,0,0,.15);
.bfh-colorpicker-popover {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: @zindex-colorpicker;
  display: none;
  float: left;
  min-width: @colorpicker-width-base - 80;
  background-color: @colorpicker-bg;
  border: 1px solid @colorpicker-fallback-border; // IE8 fallback
  border: 1px solid @colorpicker-border;
  border-radius: @border-radius-base;
  .box-shadow(0 6px 12px rgba(0,0,0,.175));
  background-clip: padding-box;
  padding: 20px;
  cursor: default;
  > canvas {
    width: 384px;
    height: 256px;
  }
}
.bfh-colorpicker {
  position: relative;
}
.bfh-colorpicker-toggle {
  *margin-bottom: -3px;
  > input[readonly] {
    cursor: inherit;
    background-color: inherit;
  }
  .bfh-colorpicker-icon {
    width: 16px;
    height: 16px;
    display: block;
  }
}
.open > .bfh-colorpicker-popover {
  display: block;
}