// Buttons (ib = Interaktiv Basetiles)
.btn-ib {
  border: none !important;
  border-radius: 0 !important;
  display: inline-block;
  min-height: 44px;
  text-shadow: none;
  padding: 6px 12px;
  line-height: 29px;
  &:hover {
    border-color: transparent;
    text-decoration: none;
  }
  &.btn-ib-success {
    background-color: @colorIBSuccess;
    color: white;
    &:hover {
      background-color: @colorIBSuccessHover
    }
  }
  &.btn-ib-alert {
    background-color: @colorIBAlert;
    color: white;
    &:hover {
      background-color: @colorIBAlertHover
    }
  }
  &.btn-ib-info {
    background-color: @colorIBInfo;
    color: black;
    &:hover {
      background-color: @colorIBInfoHover
    }
  }
  &.btn-ib-primary {
    background-color: @colorIBPrimary;
    color: white;
    &:hover {
      background-color: @colorIBPrimaryHover
    }
  }
  &.btn-ok {
    width: 105px
  }
}

// Buttons (Theme = Styleguide)
.btn-theme {
  border-radius: @btn-theme_border-radius;
  &.btn-theme-info {
    background-color: @btn-theme-info_bg-color;
    color: @btn-theme-info_color;
    border: @btn-theme-info_border !important;
    border-radius: @btn-theme-info_border-radius;
    padding: @btn-theme-info_padding;
  }
  &.btn-theme-primary {
    background-color: @btn-theme-primary_bg-color;
    color: @btn-theme-primary_color;
    border: @btn-theme-primary_border !important;
    border-radius: @btn-theme-primary_border-radius;
    padding: @btn-theme-primary_padding;
  }
  &.btn-theme-success {
    background-color: @btn-theme-success_bg-color;
    color: @btn-theme-success_color;
    border: @btn-theme-success_border !important;
    border-radius: @btn-theme-success_border-radius;
    padding: @btn-theme-success_padding;
  }
  &.btn-theme-alert {
    background-color: @btn-theme-alert_bg-color;
    color: @btn-theme-alert_color;
    border: @btn-theme-alert_border !important;
    border-radius: @btn-theme-alert_border-radius;
    padding: @btn-theme-alert_padding
  }
  &.btn-theme-error {
    background-color: @btn-theme-error_bg-color;
    color: @btn-theme-error_color;
    border: @btn-theme-error_border !important;
    border-radius: @btn-theme-error_border-radius;
    padding:  @btn-theme-error_padding;
  }
}