@colorIBPrimary: #00459F;
@colorIBPrimaryHover: #32569F;
@colorIBSuccess: #50D388;
@colorIBSuccessHover: #32C772;
@colorIBAlert: #D53A02;
@colorIBAlertHover: #E84208;
@colorIBInfo: #FFFFFF;
@colorIBInfoHover: #CCCCCC;

@colorIBBlock: #111;
@colorIBGrey: #C4C4C4;

@colorEditPanelFont: #5E6F77;

@colorIBDroppable: #57d08d;
@colorIBDragToAdd: #C4C4C4;


@btn-theme-primary_color: #000;
@btn-theme-alert_bg-color: #000;
@btn-theme-info_bg-color: #000;
@btn-theme-success_bg-color: #000;
@btn-theme-info_color: #000;
@btn-theme-primary_bg-color: #000;
@btn-theme-error_color: #000;
@btn-theme-alert_color: #000;
@btn-theme_border-radius: 0px;
@btn-theme-success_color: #000;
@btn-theme-error_bg-color: #000;



/* Color Variables --------------------------- CLEANUP FROM HERE */
@colorGrey: #7f7b6f;
@colorDarkGrey: #4e4e4e;

@colorSuzukiLightBlue: #0aaada;
@colorSuzukiDarkBlue: #003145;
@colorSuzukiGrey: #7f7b6f;

@colorSuzukiDarkGrey: #4e4e4e;
@colorSuzukiHellGreyBrown: #beb9a6;
@ColorOpeningsBlue: #15a7e3;
@ColorOpeningsText: #7F7B6F;
@colorFooterLink: #A0A0A0;
@lightGray: #CCCCCC;
@colorFooterPartnerBkg: #EEEEEE;
@colorServiceGreen: #b0b618;
@colorWhite: #FFFFFF;
@selectGrey: #F3F3F3;
@greyBkgF7: #f7f7f7;
@greyBkgF0: #f0f0f0;
@greyBkgPress: #f1f4f9;
@greyPress: #737574;

@dropdownButtonHoverColor: #0093D2;
@colorTeal: #03a2a5;

@colorBlue: #00459F;
@colorRed: #C60C30;
@colorRedSixImgs: #d8061f;
@selectedBlue: rgb(168,216,240);
@footerBlue: @colorBlue;
@hrDarkBlue: #023b82;
@hrHellBlue: #194a8c;
@newsYellow: #ffa101;
@helpYesGreen: #6bca88;
@checkGreen: #2eac31;
@colorBorderGrey: #DFDFDF;

