// Font-Family: Roboto (Google Fonts)
@font-face {
  font-family: 'Roboto Light';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(/site/++theme++interaktiv.basetiles/fonts/Roboto-Light) format('truetype');
}
@font-face {
  font-family: 'Roboto Regular';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url(/site/++theme++interaktiv.basetiles/fonts/Roboto-Regular) format('truetype');
}
@font-face {
  font-family: 'Roboto Bold';
  font-style: normal;
  font-weight: 600;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(/site/++theme++interaktiv.basetiles/fonts/Roboto-Bold) format('truetype');
}


/* Interaktiv Basetiles Icons */
@font-face {
  font-family: 'interaktiv-basetilestheme';
  src: url('++theme++interaktiv.basetiles/fonts/interaktiv-icon-basetiles.eot');
  src: url('++theme++interaktiv.basetiles/fonts/interaktiv-icon-basetiles.eot') format('embedded-opentype'),
  url('++theme++interaktiv.basetiles/fonts/interaktiv-icon-basetiles.ttf') format('truetype'),
  url('++theme++interaktiv.basetiles/fonts/interaktiv-icon-basetiles.woff') format('woff'),
  url('++theme++interaktiv.basetiles/fonts/interaktiv-icon-basetiles.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="interaktiv-icon-basetilestheme-"], [class*=" interaktiv-icon-basetilestheme-"],
[class^="interaktiv-icon-basetilestheme-"]:before, [class*=" interaktiv-icon-basetilestheme-"]:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'interaktiv-basetilestheme' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  //line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.interaktiv-icon-basetilestheme-vertical-align-stretch:before {
  content: "\e922";
}
.interaktiv-icon-basetilestheme-vertical-align-top:before {
  content: "\e91f";
}
.interaktiv-icon-basetilestheme-vertical-align-center:before {
  content: "\e920";
}
.interaktiv-icon-basetilestheme-vertical-align-bottom:before {
  content: "\e921";
}
.interaktiv-icon-basetilestheme-image:before {
  content: "\f03e";
}
.interaktiv-icon-basetilestheme-overlay:before {
  content: "\f2d2";
}
.interaktiv-icon-basetilestheme-color-fill:before {
  content: "\e91e";
}
.interaktiv-icon-basetilestheme-templates:before {
  content: "\e919";
}
.interaktiv-icon-basetilestheme-arrows-h:before {
  content: "\f07e";
}
.interaktiv-icon-basetilestheme-back:before {
  content: "\e915";
}
.interaktiv-icon-basetilestheme-color:before {
  content: "\e916";
}
.interaktiv-icon-basetilestheme-customized:before {
  content: "\e917";
}
.interaktiv-icon-basetilestheme-content:before {
  content: "\e918";
}
.interaktiv-icon-basetilestheme-zoom-in:before {
  content: "\e912";
}
.interaktiv-icon-basetilestheme-zoom-out:before {
  content: "\e913";
}
.interaktiv-icon-basetilestheme-move:before {
  content: "\e914";
}
.interaktiv-icon-basetilestheme-cropping:before {
  content: "\e911";
}
.interaktiv-icon-basetilestheme-edit .path1:before {
  content: "\e90e";
  color: rgb(104, 186, 131);
}
.interaktiv-icon-basetilestheme-edit .path2:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.interaktiv-icon-basetilestheme-edit .path3:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.interaktiv-icon-basetilestheme-option-without:before {
  content: "\e907";
}
.interaktiv-icon-basetilestheme-dropdown:before {
  content: "\e908";
}
.interaktiv-icon-basetilestheme-arrow-up:before {
  content: "\e909";
}
.interaktiv-icon-basetilestheme-arrow-down:before {
  content: "\e90a";
}
.interaktiv-icon-basetilestheme-option-background:before {
  content: "\e90b";
}
.interaktiv-icon-basetilestheme-option-padding:before {
  content: "\e90c";
}
.interaktiv-icon-basetilestheme-option-mode:before {
  content: "\e90d";
}
.interaktiv-icon-basetilestheme-delete:before {
  content: "\e906";
}
.interaktiv-icon-basetilestheme-add-tile:before {
  content: "\e903";
}
.interaktiv-icon-basetilestheme-move-row-down:before {
  content: "\e904";
}
.interaktiv-icon-basetilestheme-move-row-up:before {
  content: "\e905";
}
.interaktiv-icon-basetilestheme-delete-row:before {
  content: "\e900";
}
.interaktiv-icon-basetilestheme-option-row:before {
  content: "\e901";
}
.interaktiv-icon-basetilestheme-move-row:before {
  content: "\e902";
}
.interaktiv-icon-basetilestheme-camera:before {
  content: "\e91d";
}