.font-size(@sizeValue) {
  @remValue: unit(@sizeValue);
  @pxValue: unit(@sizeValue * @global-font-size, px);
  //noinspection CssOverwrittenProperties
  font-size: ~"@{pxValue}";
  //noinspection CssOverwrittenProperties
  font-size: ~"@{remValue}rem";
}

.font-size-px(@sizeValue) {
  @remValue: unit(@sizeValue/@global-font-size);
  @pxValue: unit(@sizeValue, px);
  //noinspection CssOverwrittenProperties
  font-size: ~"@{pxValue}";
  //noinspection CssOverwrittenProperties
  font-size: ~"@{remValue}rem";
}

.rotate (@deg) {
  -webkit-transform: rotate(@deg);
  -moz-transform: rotate(@deg);
  -ms-transform: rotate(@deg);
  -o-transform: rotate(@deg);
  transform: rotate(@deg);
}

.box-shadow (@values) {
  -webkit-box-shadow: @values;
  -moz-box-shadow: @values;
  box-shadow: @values;
}

.box-sizing (@type: border-box) {
  -webkit-box-sizing: @type;
  -moz-box-sizing: @type;
  box-sizing: @type;
}

.border-radius (@radius: 5px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;

  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.transition (@transition) {
  -webkit-transition: @transition;
  -moz-transition: @transition;
  //noinspection CssUnknownProperty
  -ms-transition: @transition;
  -o-transition: @transition;
}

.transform(@string) {
  -webkit-transform: @string;
  -moz-transform: @string;
  -ms-transform: @string;
  -o-transform: @string;
}

.transform-origin (@x:center, @y:center) {
  -webkit-transform-origin: @x @y;
  -moz-transform-origin: @x @y;
  -ms-transform-origin: @x @y;
  -o-transform-origin: @x @y;
}

.translate (@x, @y:0) {
  -webkit-transform: translate(@x, @y);
  -moz-transform: translate(@x, @y);
  -ms-transform: translate(@x, @y);
  -o-transform: translate(@x, @y);
}

.translateX (@x) {
  -webkit-transform: translateX(@x);
  -moz-transform: translateX(@x);
  -ms-transform: translateX(@x);
  -o-transform: translateX(@x);
}

.translate3d (@x, @y: 0, @z: 0) {
  -webkit-transform: translate3d(@x, @y, @z);
  -moz-transform: translate3d(@x, @y, @z);
  -ms-transform: translate3d(@x, @y, @z);
  -o-transform: translate3d(@x, @y, @z);
  transform: translate3d(@x, @y, @z);
}

.backface-visibility (@string) {
  -webkit-backface-visibility: @string;
  -moz-backface-visibility: @string;
  //noinspection CssUnknownProperty
  -ms-backface-visibility: @string;
  //noinspection CssUnknownProperty
  -o-backface-visibility: @string;
  backface-visibility: @string;
}

.placeholder(@rules) {
  &::-webkit-input-placeholder {
    @rules();
  }
  &:-moz-placeholder {
    @rules();
  }
  &::-moz-placeholder {
    @rules();
  }
  &:-ms-input-placeholder {
    @rules();
  }
}

.clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

.progress(@barColor, @valueColor) {
  // Firefox
  background-color: @barColor;
  &::-moz-progress-bar {
    background-color: @valueColor;
  }

  // Webkit
  &::-webkit-progress-bar {
    background-color: @barColor;
  }
  &::-webkit-progress-value {
    background-color: @valueColor;
  }
}