.modal {
  display: block;
  img {
    max-width: 100%;
  }
  .modal-max {
    width: 98%;
  }
  .modal-btn-left {
    float: left
  }
  .modal-btn-right {
    float: right
  }
  .modal-btn-center {
    margin:0 auto;
  }
  #spinner {display: none !important;}
  .modal-wrapper {
    background: white;
    position: relative;
    .lh-box-shadow(0 0 24px #000);

    &.interaktivtilesmodal-open {
      &.interaktivtilesmodal-anchored {
        top: 20px;
        .lh-translate(-50%, 0);
      }
      opacity: 1;
    }
    // Animation
    &.fade-and-drop {
      top: -300%;
      opacity: 1;
      display: block;
      &.interaktivtilesmodal-open {
        top: 25%;
      }
    }
    .interaktivbasetiles-modal-header {
      &.lightbox {
        background-color: black;
        .btn {
          padding: 6px 6px;
        }
        .btn-lightbox {
          background-color: black;
          color: @colorGrey;
        }
      }
    }
    .iframe-overlay {
      position: absolute;
      left:0;
      right:0;
      top:0;
      bottom:0;
      height:100%;
      width:100%;
    }
  }
  .modal-wrapper.error-message {
    .interaktivbasetiles-modal-header {
      background:@colorRed;
    }
  }
  input[type="text"],
  input[type="email"],
  input[type="number"],
  input[type="password"] {
    border: 1px dashed lightgrey;
    color: @colorDarkGrey;
    width: 100%;
    &:focus {
      .lh-box-shadow(none);
    }
  }

  .hr-edit {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
.modal-overlay {
  background: rgba(0, 0, 0, .1);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  &.interaktivtilesmodal-open {
    opacity: 1;
  }
  // Animation
  &.fade-and-drop {
    display: block;
    opacity: 0;
    .lh-transition(100ms opacity 100ms ease);
    &.interaktivtilesmodal-open {
      top: 0;
      .lh-transition(100ms opacity ease);
      opacity: 1;
    }
  }
}

