// Interaktiv Basetiles Modal Styling
.modal-wrapper {
  border-radius: 2px;
  .interaktivbasetiles-modal-header {
    height: 100px;
    h3 {
      color: #111;
      font-family: arial, serif;
      .font-size(2);
      font-weight: bold;
      line-height: 3rem;
      text-align: center;
      text-transform: uppercase;
      padding-top: 20px;
    }
  }
  .interaktivbasetiles-modal-content {
    .field {
      label {
        color: #111;
        font-family: SuzukiProRegular, serif;
        font-size: 16px;
        font-weight: normal;
        line-height: 44px;
      }
      input, textarea, select {
        border: 1px solid @colorIBGrey;
        border-radius: 0;
        min-height: 44px;
        &:active,
        &:focus {
          border: 1px solid @colorIBSuccessHover;
          outline: none;
        }
        &:focus {
          box-shadow: none;
        }
        &[type='checkbox'] {
          width: 13px;
          height: 13px;
          padding: 0;
          margin: 0;
          vertical-align: bottom;
          position: relative;
          top: -1px;
          *overflow: hidden;
        }
      }
      textarea {
        min-height: 88px;
      }
      select {
        &.numbers {
          max-width: 70px;
        }
      }
      .field-checkbox {
        span {
          color: #111;
          font-family: SuzukiProMedium, serif;
          font-weight: 400;
          display: inline-block;
          line-height: 46px;
          margin-left: 5px;
        }
      }
      &.image-upload {
        label {
          line-height: 0;
        }
      }
    }
    // Referencebrowser
    ul {
      li {
        margin-bottom: 3px;
        a.select-container {
          color: @colorIBPrimary !important;
          width: 13px;
          height: 13px;
          padding: 0;
          margin: 0;
          vertical-align: bottom;
          position: relative;
          top: -1px;
          *overflow: hidden;
        }
        .chooser,
        .selectable-image-link-option .chooser {
          border: 1px solid @colorIBGrey;
          border-radius: 2px;
          width:8px;
          height:18px;
          display:inline-block;
          cursor:pointer;
          &.selected {
            cursor:default;
            background-color: @colorIBSuccess !important;
            border-color: @colorIBSuccess !important;
          }
        }
      }
      &.references-list {
        margin-top: 12px;
        padding-left: 0;
        li {
          list-style-type: none;
          input {
            min-height: 18px;
            margin-right: 3px;
          }
          span {
            display: inline-block;
            margin-left: 10px;
          }
          img {
            display: none
          }
        }
      }
      &.image-gallery-references {
        li {
          float: left;
          list-style-type: none;
          &.selected {
            img {
              border: 3px solid @colorIBSuccess;
            }
          }
          &:nth-child(5n+5) {
            clear: both;
          }
          img {
            background-color: @colorIBGrey;
            border: 3px solid #FFF;
            display: block;
            width: 60px;
            height: 60px;
          }
          .title {
            display: none !important;
          }
        }
      }
      button {
        &.open-select-content,
        &.btn-remove-reference {
          margin-left: 5px;
          width: 110px;
        }
        &.open-select-content {
          margin-bottom: 8px;
        }
      }
    }
    &.tile-row-bkg-color,
    &.tile-row-bkg-overlay {
      .circle {
        position: relative;
        cursor: pointer;
        display: inline-block;
        margin-left: 8px;
        width: 20px;
        height: 20px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        border: solid transparent 1px;
        &:hover, &.selected {
          &:before {
            position: absolute;
            content: "";
            top: -5px;
            left: -5px;
            height: 30px;
            width: 30px;
            background-color: transparent;
            border: solid green 1px;
          }
        }
        &.circle-bordered {
          border-color: grey;
        }
        &.circle-banned {
          &:after {
            content: '|';
            font-size: 20px;
            position: absolute;
            top: -6px;
            left: 8px;
            color: red;
            //noinspection LessUnresolvedMixin
            .lh-rotate(45);
          }
        }

      }
    }

    &.tile-row-bkg-image {
      .image-section,
      .repeat-section {
        .field {
          padding: 0;
          margin-top: -10px;
        }
      }
    }

    &.tile-row-bkg-overlay {
      .overlay-section{
        .overlay-transparency {
          padding: 0;
        }
      }
    }

    &.tile-row-bkg-video {
      #video-preview {
        video,
        iframe {
          position: relative;
          width:100%;
        }
      }
      .select-content-section {
        margin-left: -15px;
        margin-right: -15px;
        #select-video-button {
          position: relative;
          width: 100%;
        }
      }
    }

    #select-portaltype-section {
      label {
        padding-left: 0;
      }
    }
    &.add-new-video-modal {
      #select-video-file {
        border:none;
        min-height: 0px;
      }
    }
  }
  .interaktivbasetiles-modal-footer {
    padding-bottom: 25px;
    .btn-ib {
      height: 60px;
      &.pull-right {
        margin-left: 10px;
      }
    }
  }
}

// Mobile
@media (max-width: @mobilMenuWidth) {
  .modal-wrapper {
    .interaktivbasetiles-modal-content {
      .field {
        margin-bottom: 10px;
        input {
          min-height: 30px;
        }
      }
    }
    .interaktivbasetiles-modal-footer {
      .btn-ib {
        height: 50px;
      }
    }

    // Buttons
    .btn-ib {
      min-height: 30px;
    }
  }
}