// Edit zone - Contettypes Icons
body#visual-portal-wrapper.pat-plone #edit-zone {
  .contenttype-tilescontainerct::after {
    content: "\e80e";
  }
  .contenttype-mediacontainerct::after {
    content: "\e801";
  }
}

/* Backend content */
.template-document_view,
.template-summary_view,
.viewpermission-add-portal-content,
.viewpermission-modify-portal-content,
.template-default_error_message,
.template-navigation-controlpanel,
.template-overview-controlpanel,
.template-folder_contents,
.template-sharing,
.template-personal-information,
.template-personal-preferences,
.template-dashboard,
.template-manage-dashboard,
.template-topbar-manage-portlets,
.template-mail-controlpanel,
.template-site-controlpanel,
.template-caching-controlpanel,
.template-caching-controlpanel-import,
.template-dateandtime-controlpanel,
.template-language-controlpanel,
.template-prefs_install_products_form,
.template-search-controlpanel,
.template-discussion-controlpanel,
.template-social-controlpanel,
.template-syndication-controlpanel,
.template-tinymce-controlpanel,
.template-rules-controlpanel,
.template-editing-controlpanel,
.template-rules-controlpanel,
.template-imaging-controlpanel,
.template-markup-controlpanel,
.template-content-controlpanel,
.template-edit,
.template-usergroup-userprefs,
.template-usergroup-groupprefs,
.template-usergroup-controlpanel,
.template-filter-controlpanel,
.template-security-controlpanel,
.template-prefs_error_log_form,
.template-maintenance-controlpanel,
.template-caching-controlpanel-ramcache,
.template-configuration_registry,
.template-resourceregistry-controlpanel,
.template-historyview {
  #content,
  #main-container {
    max-width: 1200px;
    margin: 20px auto !important;
    label, .label {
      color: black !important;
      font-weight: normal !important;
      .font-size(1);
    }
    h1 {text-align: left !important;}
    textarea#form-widgets-model_data {
      font-family: monospace;
      font-size: 10px;
      height: 300px;
    }
    .formControls {
      background-color: transparent !important;
      box-shadow: none !important;
      border-top: 0 !important;
    }
    .documentFirstHeading {
      border-bottom: 0 !important;
    }
  }
}

// Edit-Bar
#edit-zone {
  .icon-tiles-editor,
  .icon-tiles-editor:before {
    font-family: 'interaktiv-basetilestheme' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 20px !important;
    content: "\e911";
    line-height: 46px;
  }
}