@h4-theme-color: #000;
@btn-theme-alert_bg-color: #f0ad4e;
@global-font-family: Arial;
@h1-theme-font-family: Arial;
@ol-theme-list-style-type: initial;
@btn-theme-success_bg-color: #5cb85c;
@btn-theme-primary_border-radius: 0px;
@btn-theme-info_color: #333333;
@table-border-color: #000000;
@btn-theme-alert_border: 2px solid #000000;
@h1-theme-color: #000;
@btn-theme-alert_padding: 5px 5px 5px 5px;
@btn-theme-primary_padding: 5px 5px 5px 5px;
@btn-theme-alert_border-radius: 0px;
@btn-theme-success_color: #FFFFFF;
@h4-theme-font-size: 1.2rem;
@table-border-style: solid;
@ol-li-theme-color: #000;
@global-font-weight: 400;
@h2-theme-font-weight: 400;
@ol-li-theme-font-size: 1.5em;
@h1-theme-font-size: 3.2rem;
@h2-theme-font-family: Arial;
@global-font-size: 16px;
@ul-theme-list-style-type: initial;
@a-theme-color: #000;
@ul-li-theme-color: #000;
@global-color: #000;
@btn-theme-error_border-radius: 0px;
@btn-theme-success_border-radius: 0px;
@h4-theme-font-family: Arial;
@ul-li-theme-font-size: 1.5em;
@h2-theme-color: #000;
@h4-theme-font-weight: 400;
@btn-theme-info_bg-color: #FFFFFF;
@btn-theme-error_padding: 5px 5px 5px 5px;
@btn-theme-primary_border: 2px solid #000000;
@btn-theme-success_border: 2px solid #000000;
@btn-theme-info_border-radius: 0px;
@btn-theme-primary_bg-color: #428bca;
@a-theme-font-size: 1rem;
@h3-theme-font-weight: 400;
@btn-theme-info_padding: 5px 5px 5px 5px;
@btn-theme-error_bg-color: #d9534f;
@btn-theme-error_color: #FFFFFF;
@btn-theme-primary_color: #FFFFFF;
@a-theme-text-decoration: underline;
@h2-theme-font-size: 2.5rem;
@btn-theme-success_padding: 5px 5px 5px 5px;
@h3-theme-font-family: Arial;
@btn-theme-alert_color: #FFFFFF;
@table-border-width: 1px;
@h3-theme-color: #000;
@h1-theme-font-weight: 400;
@btn-theme-info_border: #000;
@btn-theme-error_border: 2px solid #000000;
@h3-theme-font-size: 1.8rem;
