// Global classes
.clear {
  clear: both !important;
}

// Tools
#spinner {
  display: none;
}

html, body {
  font-size: @global-font-size;
  font-family: @global-font-family;
  font-weight: @global-font-weight;
}

// Headers
h1 {
  color: @h1-theme-color;
  font-family: @h1-theme-font-family;
  font-size: @h1-theme-font-size;
  font-weight: @h1-theme-font-weight;
  &.documentFirstHeading {
    border-bottom: 0;
  }
}

h2 {
  color: @h2-theme-color;
  font-family: @h2-theme-font-family;
  font-size: @h2-theme-font-size;
  font-weight: @h2-theme-font-weight;
}

h3 {
  color: @h3-theme-color;
  font-family: @h3-theme-font-family;
  font-size: @h3-theme-font-size;
  font-weight: @h4-theme-font-weight;
}

h4 {
  color: @h4-theme-color;
  font-family: @h4-theme-font-family;
  font-size: @h4-theme-font-size;
  font-weight: @h4-theme-font-weight;
}

// Links
a.a-theme {
  font-size: @a-theme-font-size;
  color: @a-theme-color;
  text-decoration: @a-theme-text-decoration;
}

// Lists
ul.ul-theme {
  list-style-type: @ul-theme-list-style-type;
  li.ul-li-theme {
    color: @ul-li-theme-color;
    font-size: @ul-li-theme-font-size;
  }
}

ol.ol-theme {
  list-style-type: @ol-theme-list-style-type;
  li.ol-li-theme {
    color: @ol-li-theme-color;
    font-size: @ol-li-theme-font-size;
  }
}

// Tables
table.table-theme, td.table-theme, th.table-theme {
  border: @table-border-width @table-border-style @table-border-color;
}

// Images
img {
  max-width: 100%;
}

// Hr
hr {
  border-bottom: 1px solid @colorIBGrey !important;
}