// Tiles Editor Panel
#tiles-editor-panel {
  background: rgba(255, 255, 255, 0.9);
  color: @colorEditPanelFont;
  position: fixed;
  top: 0;
  width: 250px;
  height: 100%;
  z-index: 4;
  overflow: hidden;
  .translateX(-100%);
  //noinspection LessUnresolvedMixin
  .lh-transition(transform 400ms ease);
  .box-shadow(3px 2px 5px 0px rgba(143, 143, 143, 1));
  &.slide {
    .translateX(0%);
  }
  .panel {
    position: absolute;
    top: 0;
    width: 250px;
    background-color: transparent;

    &.main-panel {
      .translateX(0%);
      .translate3d(0%, 0, 0);
      &.slide-left {
        .translateX(-100%) !important;
        .translate3d(-100%, 0, 0) !important
      }
      &.slide-right {
        .translateX(0%) !important;
        .translate3d(0%, 0, 0) !important
      }
    }
    &.sub-panel {
      .translateX(100%);
      &.slide-left {
        .translateX(0%);
      }
      &.slide-right {
        .translateX(100%);
      }
    }

    //noinspection LessUnresolvedMixin
    .lh-transition(transform 500ms cubic-bezier(0.32, 1.25, 0.375, 1.15));
    .translateX(0%);

    &.sub-panel {
      .translateX(200%);
      .translate3d(200%, 0, 0);
    }
    .panel-header {
      background-color: #FFF;
      border-bottom: 1px solid @colorIBGrey;
      margin-bottom: 15px;
      padding: 15px 0;
      text-align: center;
      i {
        color: @colorEditPanelFont;
        font-weight: 600;
        position: absolute;
        left: 15px;
        cursor: pointer;
        &:hover {
          color: @colorIBGrey;
        }
      }
      span {
        color: @colorEditPanelFont;
        display: inline-block;
        text-transform: uppercase;
        .font-size(0.9);
      }
    }
    ul {
      padding: 0;
      li {
        list-style-type: none;
        margin-bottom: 15px;
        a {
          position: relative;
          .border-radius(4px);
          color: @colorEditPanelFont !important;
          display: block;
          width: 80%;
          margin: 0 auto;
          padding: 15px 0 15px 77px;
          i {
            position: absolute;
            left: 40px;
            line-height: 21px;
          }
          &:hover {
            background-color: @colorIBSuccess;
            color: white !important;
            text-decoration: none;
          }
        }
      }
    }
  }
  #content-panel {
    ul {
      padding: 0;
      li {
        position: relative;
        cursor: pointer;
        list-style-type: none;
        padding: 15px;
        width: 100%;
        &:hover {
          span {
            background-color: rgba(50, 199, 114, 0.9);
          }
        }
        img {
          display: block;
          width: 100%;
        }
        span {
          background: rgba(0, 0, 0, 0.8);
          .border-radius(4px);
          color: white;
          position: absolute;
          padding: 10px;
          text-transform: uppercase;
          .box-sizing(border-box);
          left: 50%;
          top: 50%;
          .translate(-50%, -50%);
        }
      }
    }
  }
}

#edit-zone {
  background: #000 !important;
}

// View-/Edit-Mode
.view-mode,
.edit-mode {
  .tile-row {
    .background-options {
      overflow: hidden;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      video {
        width: 100%;
        bottom: initial;
      }
      .iframe-container {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding-bottom: 56.25%;
        height: 0;
        iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
        .iframe-overlay {
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}

.view-mode {

  #tiles-editor-panel {
    #tiles-content {
      display: none;
    }
    #tiles-templates {
      display: none;
    }
    #tiles-customized {
      display: none;
    }
  }
  .tile-row {
    position: relative;
  }
}

.edit-mode {
  .tiles-container {
    .tile-row {
      border: dashed 1px transparent;
      position: relative;
      z-index: 1;
      min-height: 50px;
      &:hover {
        z-index: 3;
        border: dashed 1px #ddd;
        .tile {
          &:hover {
            .tile-tools {
              display: block;
            }
          }
        }
        .tile-row-tools {
          display: block;
        }
        .tile-tools {
          display: block;
        }
      }
      .tile-tools {
        @width: 38px;
        @height: 38px;
        @heightOfDropdownIndicator: 12px;

        .border-radius(5px 5px 0 0);

        .font-size(1.5);
        padding-top: 2px;
        text-align: center;
        position: absolute;
        z-index: 3;
        top: -@heightOfDropdownIndicator;
        left: 50%;
        margin-left: -@width/2;
        width: @width;
        height: @heightOfDropdownIndicator;
        background-color: @dropdownButtonHoverColor;
        display: none;
        &:hover {
          .dropdown > ul.dropdown-menu {
            display: block;
          }
        }
        &:before {
          content: "";
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 4px 4px 0 4px;
          border-color: white transparent transparent transparent;
          top: -18px;
          position: relative;
          display: inline-block;
        }

        .dropdown {
          top: @heightOfDropdownIndicator;
          left: 0;
          right: 0;
          .dropdown-menu {
            min-width: @width;
            left: 0;
            right: 0;
            .dropdown-submenu {
              left: 0;
              right: 0;
              background-color: white;
              position: relative;
              &:last-child {
                border-radius: 0 0 4px 4px;
                > a {
                  border-radius: 0 0 4px 4px;
                }
              }
              &:hover {
                > a {
                  background-color: @dropdownButtonHoverColor;
                  border-color: @dropdownButtonHoverColor !important;
                  color: @colorWhite;
                }
                .dropdown-menu {
                  display: block;
                }
              }
              a {
                text-align: center;
                padding: 0;
                height: @height;
                line-height: @height;
                vertical-align: middle;
                cursor: pointer;
                border-width: 0 1px;
                border-style: solid;
                border-color: #ddd;
              }
              .dropdown-menu {
                top: 0;
                right: @width;
                left: auto;
                background-color: white;
                border-radius: 4px 0 4px 4px;
                overflow: hidden;
                li {
                  &:hover {
                    > a {
                      background-color: @dropdownButtonHoverColor;
                      border-color: @dropdownButtonHoverColor !important;
                      color: @colorWhite;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .tile-row-tools {
        @height: 1.5rem;
        @width: 1.5rem;
        position: absolute;
        display: none;
        right: 2px;
        font-size: 0;
        top: 2px;
        z-index: 3;
        .tool {
          .border-radius(3px);
          background-color: @dropdownButtonHoverColor;
          color: @colorWhite;
          position: relative;
          z-index: 1;
          margin-left: 1px;
          .font-size-px(20);
          display: inline-block;
          padding: 5px 10px;
          &:hover {
            cursor: pointer;
          }
          &.edit {
            &:hover .dropdown > ul.dropdown-menu {
              display: block;
            }
          }
          &.delete {
            background-color: @colorRed;
          }
          &.row-mover {
            background-color: @colorTeal;
          }
        }
        .dropdown {
          right: 0;
          left: auto;
          top: 2.5rem;
          .dropdown-menu {
            position: relative;
          }
          .dropdown-submenu {
            position: relative;
            ul.dropdown-menu {
              position: absolute;
              min-width: 50px;
              top: 0;
              left: 0;
              padding-right: 5px;
              .translateX(-100%);
            }
          }
          > ul.dropdown-menu {
            li {
              &.active {
                > a {
                  background-color: @colorIBSuccess;
                  color: white;
                }
              }
              &:hover, &:active, &:focus {
                > a {
                  background-color: @dropdownButtonHoverColor;
                  color: white;
                }
              }
              a {
                cursor: pointer;
                border-width: 1px 1px 0;
                border-color: #ddd #ddd transparent;
                border-style: solid;
                background-color: white;
                padding: 10px 5px 10px 20px;
                display: block !important;
                line-height: @height;
                //display: inline;
                position: relative;
                font-family: Arial, serif;
                .link-text, .menu-right-icon, .menu-left-icon, .menu-item-icon, .test {
                  height: 1.5rem;
                }
                .link-text {
                  .font-size-px(15);
                  margin-right: 10px;
                  position: relative;
                  &.main {
                    bottom: 0;
                  }
                }
                .menu-left-icon {
                  .font-size-px(15);
                  margin-left: 10px;
                  margin-right: 10px;
                  display: inline-flex;
                  align-items: center;
                }
                .menu-right-icon {
                  // from down turn to right
                  //noinspection LessUnresolvedMixin
                  .lh-rotate(90);
                  .font-size-px(10);
                  position: absolute;
                  left: 10px;
                }
                .menu-item-icon {
                  .font-size(1);
                  margin-right: 5px;
                  padding-top: 15px;
                  &.red {
                    color: red;
                  }
                }
              }
            }
            &:hover {
              > ul {
                display: block;
              }
            }
          }
        }

        .submenu {
          @submenuAnimDuration: 100ms;
          @submenuAnimDurationOut: 300ms;
          &:before {
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 6px 5px 0 5px;
            border-color: @dropdownButtonHoverColor transparent transparent transparent;
            position: absolute;
            left: 50%;
            margin-left: -4px;
            bottom: -6px;
            opacity: 0;
            //noinspection LessUnresolvedMixin
            .lh-transition(transform @submenuAnimDurationOut ease-out, opacity @submenuAnimDurationOut ease-out);
            //noinspection LessUnresolvedMixin
            .lh-translateY(-100%);
          }
          &:hover:before {
            //noinspection LessUnresolvedMixin
            .lh-transition(transform @submenuAnimDuration ease-in, opacity @submenuAnimDuration ease-in);
            //noinspection LessUnresolvedMixin
            .lh-translateY(0);
            opacity: 1;
          }

          > .dropdown {
            overflow: hidden;
            padding-top: 0;
            max-height: 0;
            opacity: 0;
            //noinspection LessUnresolvedMixin
            .lh-transition(max-height @submenuAnimDurationOut ease-out, padding-top @submenuAnimDurationOut ease-out, opacity @submenuAnimDurationOut ease-out);

            > .dropdown-menu {
              margin: 0;
              display: block;
              li {
                &:hover,
                &:active,
                &:focus {
                  > ul {
                    display: block;
                  }
                }
              }
            }
          }

          &:hover {
            > .dropdown {
              padding-top: 8px;
              max-height: 200px;
              overflow: visible;
              opacity: 1;
              //noinspection LessUnresolvedMixin
              .lh-transition(max-height @submenuAnimDuration ease-in, padding-top @submenuAnimDuration ease-in, opacity @submenuAnimDuration ease-in);
              > .dropdown-menu {
                display: block;
              }
            }
          }
        }

      }
      .tile-tools,
      .tile-row-tools {
        .dropdown {
          position: absolute;

          ul {
            background-color: transparent;
            border: none;
            box-shadow: none;
            a {
              border-bottom: none !important;
            }
            li:last-of-type {
              > a {
                border-bottom: solid 1px #ddd !important;
              }
            }
            &.dropdown-menu {
              padding: 0;
              margin: 0;
            }
          }
        }
      }
    }
    .tiles-wrapper {
      .clearfix();
      display: flex;
      flex-direction: row;
      .tile {
        flex-grow: 1;
        border: dashed 1px #ddd;
        &.invalid-tile {
          border: dashed 1px red;
        }
      }
    }
    &.drag-to-add {
      position: relative;
      .tile-row.hovered {
        z-index: 2;
        outline: 2px solid @colorIBDroppable;
      }
      > .droparea,
      .tile-row > .droparea {
        height: @droppableAreaWidth;
        position: absolute;
        //noinspection LessUnresolvedMixin
        .lh-translateY(50%);
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
        &:before {
          top: 50%;
          left: @droppableLineOffset;
          right: @droppableLineOffset;
          height: @droppableLineWidth;
          //noinspection LessUnresolvedMixin
          .lh-translateY(-50%);
        }
      }
      .tile {
        > * {
          z-index: 9;
          position: relative;
        }
        > .tile-tools {
          position: absolute;
        }
        > .droparea {
          width: @droppableAreaWidth;
          position: absolute;
          right: -(@droppableAreaWidth/2);
          bottom: @droppableAreaWidth/2;
          top: @droppableAreaWidth/2;
          z-index: 10;
          &:before {
            top: @droppableLineOffset;
            bottom: @droppableLineOffset;
            left: 50%;
            margin-left: -(@droppableLineWidth/2);
            width: @droppableLineWidth;
          }
        }
        &:first-child {
          > .droparea:first-of-type {
            width: @droppableAreaWidth/2;
            left: 0;
            right: auto;
            top: 0;
            bottom: 0;
            &:before {
              top: @droppableLineOffset;
              bottom: @droppableLineOffset;
              left: @droppableLineWidth;
              right: auto;
              width: @droppableLineWidth;
            }
          }
        }
        &:last-child {
          > .droparea:last-of-type {
            width: @droppableAreaWidth/2;
            right: 0;
            top: 0;
            bottom: 0;
            &:before {
              top: @droppableLineOffset;
              bottom: @droppableLineOffset;
              right: 50%;
              margin-right: -(@droppableLineWidth/2);
              left: auto;
              width: @droppableLineWidth;
            }
          }
        }
      }
      .droparea {
        display: block;

        &:before {
          content: "";
          position: absolute;
          background-color: @colorIBDragToAdd;
          cursor: pointer;
        }

        &.ui-droppable-hover:before {
          background-color: @colorIBDroppable;
        }
      }
      > .droparea {
        top: 0;
        //noinspection LessUnresolvedMixin
        .lh-translateY(-50%);
      }

      .ui-draggable-dragging {
        pointer-events: none;
      }
    }
  }
}

// Tilescontainerct
.portaltype-tilescontainerct {

  // Hide Plone Edit Bar Buttons
  #plone-contentmenu-display,
  #plone-contentmenu-actions,
  #plone-contentmenu-portletmanager,
  #contentview-history,
  #plone-contentmenu-factories,
  #contentview-view {
    display: none;
  }
  &.is-workingcopy {
    #plone-contentmenu-workflow {
      display: none
    }
  }

  .tiles-container {

    .tile-rows-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .tile-row {
      display: flex;
      flex-direction: column;
      max-width: 1920px;
      width: 100%;

      .generate-columns(12);
      .generate-columns(@n, @i: 1) when (@i =< @n) {
        &.columns-@{i} .tile {
          width: (100% / @i);
        }
        .generate-columns(@n, (@i + 1));
      }

      .tiles-wrapper {
        display: flex;
        align-items: center;
        width: 100%;
      }

      &.tile-row-full-width {
      }
      &.tile-row-dynamic-content-width {
        align-items: center;
        .tiles-wrapper {
          max-width: @screen-lg-min;
        }
      }
      &.tile-row-dynamic-width {
        align-items: center;
        max-width: @screen-lg-min;
      }

      .tile {
        position: relative;
        padding-left: @grid-gutter-width/2;
        padding-right: @grid-gutter-width/2;
        align-self: stretch;

        &.tile-valign-stretch {
          align-self: stretch;
        }
        &.tile-valign-top {
          align-self: flex-start;
        }
        &.tile-valign-center {
          align-self: center;
        }
        &.tile-valign-bottom {
          align-self: flex-end;
        }
      }

      @media (max-width: @screen-xs-max) {
        flex-direction: row;
        .tile {
          width: 100%;
        }
      }
      @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
        flex-direction: row;
        .tile {
          width: 100%;
        }
      }
    }
    .tile-content {
      position: relative;
      height: 100%;
      h1, h2, h3, h4, p {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }

  // Tilescontainer Tools
  .tilescontainer-tools {
    border-top: 1px solid @colorIBGrey;
    padding-top: 15px;
    margin-top: 15px;
  }
}