/* RD */
@mobilMenuWidth: 800px;

/* Droppable */
@droppableAreaWidth: 30px;
@droppableLineWidth: 12px;
@droppableLineOffset: 10%;

/* Content Width */
@ibContentMaxWidth: @container-large-desktop;

/* Fonts */
@ibFontSize: 16px;