.template-tiles_styleguide {
  h2.styleguide-headline {
    text-align: center;
  }
  .tiles-styleguide {
    border-top: 1px solid #ddd;
    .configuration {
      .h3 {
        display: block;
        margin: 20px 0 10px;
      }
      .style-field {
        margin-bottom: 20px;
      }
    }
    .result {
      padding-top: 60px;
    }
  }
}