.tile-subheadline {
  h1, h2, h3, h4, div.subheadline-tag {
    &.center {
      text-align: center;
    }
    &.left {
      text-align: left;
    }
    &.right {
      text-align: right;
    }
  }
  div.subheadline-tag {
    color: @global-color;
    .font-size(1);
    font-weight: 500;
  }
}