@slick-loader-path: '/++theme++interaktiv.tile_slider/';

@slick-prev-character: "<";
@slick-next-character: ">";

.tiles-container {
  .tile-row-full-width {
    .tile-slider .slider-image .slide-content {
      max-width: @ibContentMaxWidth;
      left: 50%;
      //noinspection LessUnresolvedMixin
      .lh-translateX(-50%);
    }
  }
  .tile-slider {
    .slider-wrapper {
      overflow: hidden;

      &:hover {
        .slick-arrow {
          //noinspection LessUnresolvedMixin
          .lh-transition(opacity 150ms ease-in);
          opacity: .5;
          &:hover {
            opacity: 1;
          }
          &.slick-prev {
            left: 20px;
          }
          &.slick-next {
            right: 20px;
          }
        }
      }
    }
    .slider-image {
      position: relative;

      img {
        min-width: 100%;
        max-height: 100%;
      }

      .slide-content {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;

        .slide-content-wrapper {
          position: absolute;
          top: 50%;
          left: 0;
          //noinspection LessUnresolvedMixin
          .lh-translateY(-50%);
          color: white;
        }

        .title {
          display: block;
          margin-bottom: 35px;
          .font-size(2.8);
        }
        .subtitle {
          display: block;
          .font-size(1.2);
        }
        .button {
          display: block;
        }

      }
    }
    .slick-list {
      z-index: 1;
    }
    .slick-arrow {
      z-index: 2;
      height: 3rem;
      width: 3rem;
      //noinspection LessUnresolvedMixin
      .lh-transition(opacity 150ms ease-out);
      opacity: 0;
      text-shadow: 0 0 1px rgba(0,0,0,.5);
      &:before {
        .font-size(3);
        font-family: bewo-engineering, serif;
      }
      &.slick-prev {
        left: -3rem;
      }
      &.slick-next {
        right: -3rem;
      }

      &:hover,
      &:focus {
        border: none;
        outline: none;
        //noinspection LessUnresolvedMixin
        .lh-box-shadow(none);
      }
    }
    .slide-progresses {
      position: absolute;
      width: 80%;
      left: 50%;
      bottom: 10%;
      //noinspection LessUnresolvedMixin
      .lh-translateX(-50%);
      text-align: center;
      z-index: 2;
      font-size: 0;

      .progress-wrapper {
        display: inline-block;
        max-width: 140px;
        padding: 0 5px;
        .box-sizing(border-box);
      }

      progress {
        .progress(@btn-theme-primary_color, @btn-theme-primary_bg-color);
        height: 6px;
        max-width: 100%;
        font-size: 1rem;
      }
    }
  }
}

#modal-configure-slidertile {
  .slide-entry {
    &:first-child [data-dir="up"],
    &:last-child [data-dir="down"] {
      display: none;
    }
    .buttons {
      margin-top: 5px;
    }
  }
}
