.tile-news {
  .news-items {
    margin-bottom: 40px;
    margin-top: 40px;
    margin-left: 0;
    margin-right: 0;
    .img{
      img {
        width: 100%;
        max-height: 220px;
      }
    }
    .title {
      margin-top: 20px;
      margin-bottom: 10px;
      font-size: 16px;
      font-weight: bold;
      line-height: 1.65em;
      text-transform: uppercase;
    }
    .description {
      font-size: 16px;
      line-height: 1.6em;
    }
  }
}
